    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>
                    This is a centrally located, bright, modern, airy house, with the highly sought after benefit of a two car private driveway and an electric car charging point. A stylish and calm space, this house has all that you need for some rest, relaxation and fun too!
                </p>
                <p>
                    The master bedroom has a south-facing balcony, perfect for a morning coffee and croissant when the sun is shining. The bathroom has a super large shower area and a bath too if you want a long soak. Downstairs the open plan lounge and dining area leads to the bright patio creating a lovely spacious feel. This is a true gem of a house and we look forward to welcoming you here!
                </p>
            </div>
        </div>
    </section>
