    <!-- About Section -->
    <section id="recommendations" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Recommendations</h2>
                <h3>Bars and cocktails!</h3>
                <p>
                    Up the road Gung Ho!<br/>
                    Plotting Parlour, be sure to book!<br/>
                    Artist Residence down the road on Regency Square<br/>
                    Oh So Social! Along the seafront. Lively and fun!<br/>
                    Block in Kemptown, cool bar<br/>
                </p>

                <h3>Music venues</h3>
                <p>
                    Green Door Store<br/>
                    Komedia<br/>
                    Chalk<br/>
                </p>

                <h3>Food</h3>
                <p>
                    Goemon is a well priced, relaxed, Japanese cafe style place. 2 mins down the road!<br/>
                    Bincho is just up the road and is delicious Japanese yakitori style food<br/>
                    Halisco a little up the road, nice little Mexican place<br/>
                    At the bottom of the road is New Club, nice for breakfast and lunch<br/>
                    Lovely cafe on the front, near the i360 The Flour Pot, great baked goods and coffee<br/>
                    Terre a Terre (long-running vegetarian restaurant)<br/>
                    Burnt Orange (small delicious plates, our favourite atm)<br/>
                    Coalshed (excellent steaks)<br/>
                    Riddle and Finn's and Due South for lovely seafood on the beach<br/>
                    Saltroom, Etch and The Grand, perfect for a celebration<br/>
                    Naninella, down the road, great pizza and Italian Street food!<br/>
                    A new place on the beach, Shelter hall: quite relaxed canteen style offering a variety of food<br/>
                    Also Rockwater along Hove beach side, stylish bar/restaurant on 2 levels<br/>
                    If you like Thai Lucky Khao is great. Modern funky Thai!<br/>
                    Murmer: seafront fine dining<br/>
                    The Flint House<br/>
                    The Set<br/>
                    Cyan: main restaurant in The Grand
                    If you're looking for a nice location to eat lunch/dinner do venture to the Saltroom. It's on the seafront, on the left side as you're walking down the road. Beautiful place and lovely food and cocktails 😋🤩 and or Due South/ Riddle and Finn's, both on the front 👍🏼<br/>
                    If you need anything else do give me a shout! <br/>
                </p>
            </div>
        </div>
    </section>
